In [9]:
import pandas as pd

# Load the data
df = pd.read_csv(r"../data/stock_data.csv")

# Calculate the 20-day moving average
df["ma"] = df["close"].rolling(window=20).mean()

df.sample()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,close,ma
19,2021-01-25 00:00:00+05:30,118.809682,119.004769,113.181337,113.630043,40635,0.0,0.0,113.630043,124.256592

In [10]:
# Set the initial capital
initial_capital = 10000

# Create a column for the positions (either "long" or "short")
df["position"] = None

# Create a column for the PnL (profit and loss)
df["pnl"] = 0

# Create a column for the returns
df["return"] = 0

# Set the initial position to "long"
df.loc[0, "position"] = "long"

df.sample(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,close,ma,position,pnl,return
57,2021-03-22 00:00:00+05:30,121.931120,122.126207,118.087849,119.472992,38030,0.0,0.0,119.472992,123.406488,None,0,0
321,2022-04-18 00:00:00+05:30,161.899047,161.899047,157.164881,158.940186,105782,0.0,0.0,158.940186,156.129278,None,0,0
35,2021-02-17 00:00:00+05:30,129.773720,130.319984,128.564173,129.285995,116585,0.0,0.0,129.285995,124.222937,None,0,0
158,2021-08-18 00:00:00+05:30,166.606695,166.606695,162.412261,162.948761,79529,0.0,0.0,162.948761,168.128384,None,0,0
112,2021-06-14 00:00:00+05:30,168.460037,169.337950,163.924205,165.631241,92924,0.0,0.0,165.631241,163.158472,None,0,0
336,2022-05-10 00:00:00+05:30,140.743188,144.934909,133.148779,143.307541,65557,0.0,0.0,143.307541,155.152851,None,0,0
140,2021-07-23 00:00:00+05:30,174.361499,174.507811,170.069530,171.776566,85304,0.0,0.0,171.776566,174.788264,None,0,0
42,2021-02-26 00:00:00+05:30,125.052559,125.052559,118.751159,119.619308,248465,0.0,0.0,119.619308,126.676191,None,0,0
118,2021-06-22 00:00:00+05:30,165.826328,171.679022,165.826328,168.460037,164220,0.0,0.0,168.460037,166.301856,None,0,0
246,2021-12-27 00:00:00+05:30,207.071020,207.071020,198.539640,200.117691,30780,0.0,0.0,200.117691,202.166706,None,0,0

In [11]:
# Iterate through the data and update the positions and PnL
for i in range(1, len(df)):
    # If the price crosses above the moving average, go long
    if df.loc[i, "close"] > df.loc[i, "ma"] and df.loc[i-1, "close"] <= df.loc[i-1, "ma"]:
        df.loc[i, "position"] = "long"
    # If the price crosses below the moving average, go short
    elif df.loc[i, "close"] < df.loc[i, "ma"] and df.loc[i-1, "close"] >= df.loc[i-1, "ma"]:
        df.loc[i, "position"] = "short"
    # If the position is "long", calculate the PnL and return
    elif df.loc[i, "position"] == "long":
        df.loc[i, "pnl"] = df.loc[i, "close"] - df.loc[i-1, "close"]
        df.loc[i, "return"] = df.loc[i, "pnl"] / df.loc[i-1, "close"]
    # If the position is "short", calculate the PnL and return
    elif df.loc[i, "position"] == "short":
        df.loc[i, "pnl"] = df.loc[i-1, "close"] - df.loc[i, "close"]
        df.loc[i, "return"] = df.loc[i, "pnl"] / df.loc[i-1, "close"]

df.sample(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,close,ma,position,pnl,return
455,2022-10-31 00:00:00+05:30,133.449997,134.649994,132.800003,133.949997,58541,0.0,0.0,133.949997,137.757499,None,0,0
247,2021-12-28 00:00:00+05:30,204.408048,204.851875,200.561534,201.547821,25898,0.0,0.0,201.547821,201.858492,None,0,0
42,2021-02-26 00:00:00+05:30,125.052559,125.052559,118.751159,119.619308,248465,0.0,0.0,119.619308,126.676191,None,0,0
15,2021-01-19 00:00:00+05:30,120.565494,122.516392,119.394958,121.238556,28570,0.0,0.0,121.238556,NaN,None,0,0
237,2021-12-14 00:00:00+05:30,205.147762,207.021702,203.125870,206.084732,38912,0.0,0.0,206.084732,204.538728,None,0,0
22,2021-01-29 00:00:00+05:30,114.595746,115.688244,112.001048,112.674110,27510,0.0,0.0,112.674110,122.397386,None,0,0
312,2022-04-01 00:00:00+05:30,153.811504,155.340252,150.901959,151.789612,118204,0.0,0.0,151.789612,150.734286,None,0,0
466,2022-11-16 00:00:00+05:30,149.649994,163.000000,149.600006,161.850006,483856,0.0,0.0,161.850006,143.182498,None,0,0
13,2021-01-15 00:00:00+05:30,125.540285,126.808372,122.516395,123.218719,48825,0.0,0.0,123.218719,NaN,None,0,0
326,2022-04-25 00:00:00+05:30,159.778539,159.778539,156.819677,157.312820,34468,0.0,0.0,157.312820,157.936649,short,0,0

In [13]:
# Calculate the overall PnL and return
pnl = df["pnl"].sum()
returns = df["return"].sum()

# Print the results
print(f"PnL: {pnl}")
print(f"Returns: {returns}")

PnL: 0
Returns: 0