# Problem Statement
Within the context of human resource (HR), attrition is a reduction in the workforce caused by retirement or resignation. This is a serious problem faced by several organization around the world as attrition is economically damaging to the organizations as the replacement employees have to be hired at a cost and trained again at a cost. High Rates of Attrition also damages the brand value of the company.
 
Now the Dataset belongs to a very fast-growing company. This company has witnessed several employees leaving the company in the last 3 years. The company’s HR team has always been reactive to the attrition but now the team wants to be proactive and wished to predict attrition of employees using the data they have in hand. 
 
The goal here is to predict whether an employee will leave the company based upon the various variables given in the dataset.
 
### Working with Data
Data has been split into two groups and provided in the module:
1. training set - The training set is used to build your machine learning model. For the training set, we provide the attrition details of an employee. 
2. test set - The test set should be used to see how well your model performs on unseen data. For the test set, it is your job to predict the attrition value of an employee.

### Metric to measure
Accuracy is the metric to measure the performance in this Hackathon.

*Accuracy= (TP+TN)/(TP+TN+FP+FN)*

### Submission File Format:
You are to submit a csv file with exactly 2630 entries plus a header row. The file should have exactly two columns

1.      EmployeeID (sorted in any order)
2.      Attrition

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt
%matplotlib inline

print('Libraries imported')

In [3]:
data = pd.read_csv(r'../data/Train_Dataset.csv'); data.head()

,EmployeeID,Attrition,Age,TravelProfile,Department,HomeToWork,EducationField,Gender,HourlnWeek,Involvement,...,JobSatisfaction,ESOPs,NumCompaniesWorked,OverTime,SalaryHikelastYear,WorkExperience,LastPromotion,CurrentProfile,MaritalStatus,MonthlyIncome
0,5110001.0,0.0,35.0,Rarely,Analytics,5.0,CA,Male,69.0,1.0,...,1.0,1.0,1.0,1.0,20.0,7.0,2.0,NaN,M,18932.0
1,5110002.0,1.0,32.0,Yes,Sales,5.0,Statistics,Female,62.0,4.0,...,2.0,0.0,8.0,0.0,20.0,4.0,1.0,NaN,Single,18785.0
2,5110003.0,0.0,31.0,Rarely,Analytics,5.0,Statistics,F,45.0,5.0,...,2.0,1.0,3.0,0.0,26.0,12.0,1.0,3.0,Single,22091.0
3,5110004.0,0.0,34.0,Yes,Sales,10.0,Statistics,Female,32.0,3.0,...,4.0,1.0,1.0,0.0,23.0,5.0,1.0,3.0,Divorsed,20302.0
4,5110005.0,0.0,37.0,No,Analytics,27.0,Statistics,Female,49.0,3.0,...,4.0,1.0,8.0,0.0,21.0,12.0,1.0,9.0,Divorsed,21674.0